.card{
  --height: 220px;
  --width: 700px;
  --widthFoto: 260px;
  position: relative;
  box-shadow: 0 0 3px #bbb;
  background-color: #fff;
  height: var(--height);
  width: var(--width);
  margin: 30px auto;
  display: grid;
  grid-template-columns: var(--widthFoto) 1fr;
  grid-template-rows: 50px 40px 1fr 50px;
  border-radius: 5px;
  overflow: hidden;
}
/* IMAGEN */
.card>img{
  height: var(--height);
  width: var(--widthFoto);
  object-fit: cover;
  grid-row: 1/5;
  filter: brightness(92%);
  clip-path: polygon(0% 0.3%, 100% 0%, 93.3% 100%, 0% 100%);
}
/* TITULO */
.card>h3{
  font-size: 1.8rem;
  line-height: 60px;
  padding: 0 14px;
  font-family: Franklin Gothic;
  font-weight: 700;
}
/* SUBTITULO */
.card>h4{
  display: inline-block;
  position: relative;
  padding: 0 14px;
  text-transform: uppercase;
  font-family: calibri;
  font-weight: 200;
  color: #aaa;
  font-size: 1.1rem;
}
.card>h4::before{
  bottom: 8px;
  position: absolute;
  content: '';
  height: 5px;
  width: 32px;
  background-color: rgb(86, 212, 155);
  border-radius: 4px;
}
/* CONTENIDO */
.card> p{
  padding: 0 14px;
  font-family: Arial;
  font-weight: 200;
  color: #222;
  font-size: 1rem;
  text-align: justify;
}
/* LINK */
.card>a{
  text-align: end;
  text-align: right;
  padding-right: 34px;
  color: rgb(86, 212, 155);
  position: absolute;
  height: 29px;
  width: 120px;
  bottom: 0;
  right: 0;
}
.card>a::before{
  font-family: sans-serif;
  position: absolute;
  right: 15px;
  bottom: 13px;
  content: '';
  height: 7px;
  width: 7px;
  border-right: 3.7px solid #56d49b;
  border-top: 3.7px solid #56d49b;
  transform: rotate(45deg);
}
.card>a::after{
  font-family: sans-serif;
  position: absolute;
  right: 20px;
  content: '';
  height: 4px;
  width: 10px;
  background-color: #56d49b;
  right: 18px;
  bottom: 16.6px;
}
.card-reverse{
  grid-template-columns: 1fr var(--widthFoto);
}
.card-reverse>img{
  grid-column: 2/3;
  clip-path: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 6% 100%);
}
.card-reverse>a{
  right: none;
  left: 0 !important;
}
/* CARD 2 */
.card2{
  --width: 540px;
  --height: 320px;
  --marginText:14px;
  --paddingText: 19px;
  --widthText: 46%;
  width: var(--width);
  height: var(--height);
  position: relative;
  background-color: #ddd;
  display: flex;
  align-items: flex-start;
  margin: 30px auto;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}
.card2> img{
  object-fit: cover;
  object-position: left;
  position: absolute;
  height: var(--height);
  width: var(--width);
  filter: brightness(78%);
  opacity: .9;
  transition: .2s ease-in-out;
}
.card2> img:hover{
  transform: scale(1.2);
}
.card2>h3{
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--widthText);
  background-color: #fff;
  color: #000;
  mix-blend-mode: screen;
  font-family: Arial Narrow;
  font-weight: bold;
  line-height: 45px;
  font-size: 44px;
  flex-grow: 2;
  margin-top: var(--marginText);
  margin-left: var(--marginText);
  padding: var(--paddingText);
  text-align: center;
  text-transform: uppercase; 
  letter-spacing: 2px;
  pointer-events: none;
}
.card2>p{
  width: var(--widthText);
  background-color: #fff;
  color: #000;
  mix-blend-mode: screen;
  flex-grow: .5;
  margin-bottom: var(--marginText);
  margin-left: var(--marginText);
  text-align: left;
  padding: var(--paddingText);
  font-family: calibri;
  font-size: 16px;
  font-weight: 400;
  pointer-events: none;
}
